body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}

h1{
    text-align: center;
    color: #686D76;
}

hr{
    height: 3px;
    background-color: #A8A8A8;
    border-color: #A0A0A0;
}

h2{
    text-align: center;
    color: #686D76;
}

p{
    text-align: center;
    font-size: 15px;
    color: #686D76;
}

a{
    color: #373A40;	
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#izquierda{
    text-align: left;
}